$nav-color: rgb(27, 25, 25, 0.8);
$nav-color-dark: rgba(17, 17, 17, 0.918);
$green: rgb(92, 194, 72);
$main-color: rgb(219, 212, 212);
$background-color-odd: rgb(226, 226, 226);
$background-color-even: rgba(112, 112, 112, 0.185);
$white: rgb(255, 255, 255);